@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 326 100% 99%;
  --foreground: 326 78% 10%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

/* 自定义滚动条 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #fce7f3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f9a8d4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f472b6;
}